LEEF:1.0|KasperskyLab|SecurityCenter|10.2.434|GNRL_EV_ATTACK_DETECTED|cat=KLSC	EVC_EV_DESC=Event type:	Network attack detected\r\nApplication\Name:	Unknown\r\nUser:	NT AUTHORITY\SYSTEM (System user)\r\nComponent:	Network Attack Blocker\r\nResult\Description:	Blocked\r\nResult\Name:	Intrusion.Win.NETAPI.buffer-overflow.exploit\r\nObject:	TCP from 10.0.0.5 to	devTime=##TIMESTAMP##	devTimeFormat=yyyy-MM-dd HH:mm:ss	EVC_EV_DISP_HOST_NAME=##SRC_NAME##	src=##SRC_IP##	identSrc=##SRC_IP##	identNetBios=##SRC_NAME##	EVC_EV_KL_PRODUCT_DISPVER=10.2.2.10535	EVC_EV_KL_PRODUCT_NAME=KES	EVC_EV_KL_PRODUCT_VER=10.2.2.0	