LEEF:1.0|KasperskyLab|SecurityCenter|10.2.434|GNRL_EV_PASSWD_ARCHIVE_FOUND|cat=KLSC	EVC_EV_DESC=Result:	Password-protected\r\nObject:	C:\excel_file.xlsx/encrypted\r\n	devTime=##TIMESTAMP##	devTimeFormat=yyyy-MM-dd HH:mm:ss	EVC_EV_DISP_HOST_NAME=##SRC_NAME##	src=##SRC_IP##	identSrc=##SRC_IP##	identNetBios=##SRC_NAME##	EVC_EV_KL_PRODUCT_DISPVER=8.1.0.1042	EVC_EV_KL_PRODUCT_NAME=KES	EVC_EV_KL_PRODUCT_VER=8.1.0.0	EVC_EV_FILE_Name=C:\excel_file.xlsx	